<%- include('../inc/top') %>
    <div class="container-fluid">
        <% if (message === 'Thêm thành công' || message === 'Cập nhật thành công' || message === 'Xóa thành công') { %>
            <script>
                Swal.fire({
                    icon: 'success',
                    title: 'Thông báo!',
                    text: '<%= message %>',
                  
                });
            </script>
        <% } %>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <form method="POST" action="/size/add">

                        <div class="modal-header">
                            <h1 class="modal-title fs-5" style="color: rgb(32, 39, 226);" id="staticBackdropLabel">
                                Thêm kích thước
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Fullname"
                                    required name="name">
                                <label for="floatingInput">Tên kích thước</label>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row p-4  m-5  shadowpro">
            <div class="d-flex justify-content-end ">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"> <i class="fa-solid fa-plus" style="color: #ffffff;"></i> Thêm kích
                    thước</button>
            </div>
            <table id="example" class="table  table-hover" style="width:95%;margin-left: 25px;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên kích thước</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <% if (listSize.length===0) { %>
                    <tr>
                        <td colspan="7" style="text-align: center;justify-content: center;">
                            <p>Dữ liệu không tồn tại.</p>
                        </td>
                    </tr>
                    <% } else { %>
                        <% for (let i=0; i < listSize.length; i++) { %>
                            <% const row=listSize[i]; %>
                                <tr style="height: 100px;">
                                    <td style="width: 60px;">
                                        <%= i+1 %>

                                    </td>
                                    <td style="width: 300px;">
                                        <%= row.name %>
                                    </td>

                                    <td style="width: 190px;">

                                        <!-- Button trigger modal -->
                                      
                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdropp<%=row._id%>"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Thông báo
                                                        </h5>

                                                    </div>
                                                    <div class="modal-body">
                                                        bạn có muốn xóa <%= row.name %> ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Hủy</button>
                                                        <a href="/size/delete/<%=row._id%>" class="btn btn-danger">Lưu
                                                            thay đổi</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Sửa -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdropp1<%=  row._id  %>">
                                            <i class="fa-regular fa-pen-to-square"></i> Sửa
                                        </button>
                                        <div class="modal fade" id="staticBackdropp1<%=  row._id  %>"
                                            data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form method="POST" action="/size/update/<%=  row._id  %>">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Sửa kích cỡ
                                                            </h5>

                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-floating mb-2">
                                                                <input name="nameSize" type="text" class="form-control"
                                                                    id="floatingInput" placeholder="" required
                                                                    value="<%=  row.name  %>">
                                                                <label for="floatingInput">Tên kích thước</label>
                                                                <label for="floatingInput"></label>
                                                            </div>
                                                         

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Hủy</button>
                                                            <button type="submit" class="btn btn-primary">Lưu thay
                                                                đổi</button>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>


            </table>
        </div>





    </div>

    <%- include('../inc/bottom') %>
